/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 }
 
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
 
html{
 font-family: 'Titillium Web', sans-serif;
 text-align: center;
 }

                              /* BARRA DE NAVEGAÇÃO */
.header {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  }

.header__divlogo {
  width: 80px;
  height: auto;
  margin: 5px;
  padding: 2px;
  }

.header__search {
  object-position:inherit;
  text-align: center;
  border-radius: 20px;
  width: 30vw;
  height: 25px;
  border: none;
  background-color: rgb(236, 236, 236);
  }

.header__menu {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 40vw;
  display: flex;
  }

.header__menu__entrar {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  display: flex;
  }

.header__menu--item {
  margin: 5px;
  font-size: 12px;
  text-align: center;
  } 

.header__menu--cor2 {
  color:#066C6F;
  }

.header__menu--instrutor {
  margin: 5px;
  font-size: 13px;
  text-align: center;
  font-weight:600;
  }

.header__button {
  background-color: #e0edee;
  border-radius: 50px;
  width: 15vw;
  height: 25px;
  border: none;
  margin: 20px 40px 20px 0; 
  color: #066C6F;
  font-size: 10pt;
  font-weight: 700;
  padding: 0.25%;
  }

/* PARTE RESPONSIVA */

@media (max-width: 1024px){

}

@media (max-width: 800px){

}