<link href="/stylesheets/footer.css" rel="stylesheet">

<footer>
    <div class="footer2">
        <ul class="footer__links2">
            <li id="link2"><a href="#">SAIBA TUDO SOBRE YOGA</a></li>
        </ul>
    </div>

    <main class="footer">
        <Section class="footer__container--menor">

            <div>
                <h1 class="footer__title_H1">AULAS ONLINE PARA TODAS AS PESSOAS</h1>
                <h2 class="footer__title_H2">de qualquer idade e sem custos para os alunos</h2>
            </div>

        </Section>
    </main>
</footer>