<link href="/stylesheets/bannerHome.css" rel="stylesheet">

<body>
    <main class="main">
        <div class="main__card">
            <h1>SAÚDE FÍSICA E MENTAL</h1>
            <h2>gratuito e acessível para todos</h2>
        </div>
        <section class="main__container">
            <div class="main__container--images">
                <!--  <div class="main__card">
                    <h1>SAÚDE FÍSICA E MENTAL</h1>
                    <h2>gratuito e acessível para todos</h2>
                </div> -->
                <div class="main__card">
                    <a class="main__container--button" id="button1" href="/login">ESCOLHA UMA AULA</a>
                    <a class="main__container--button" id="button2" href="/register">CADASTRE-SE GRÁTIS</a> 
                </div>
            </div>
        </section>
    </main>
</body>