<link href="/stylesheets/footer.css" rel="stylesheet">

<footer>
    <main class="footer">
        <Section class="footer__container">
            
            <div class="footer__images">
                <ul class="footer__images">
                    <a href="#"><img src="/images/logo2.svg" title="imgfooter1" alt="imagefooter1"></a>
               </ul>
            </div>

            <ul class="footer__links">
                <li id="link"><a href="#">SAIBA TUDO SOBRE YOGA</a></li>
            </ul>

            <div>
                <h1 class="footer__title_H1">AULAS ONLINE PARA TODAS AS PESSOAS</h1>
                <h2 class="footer__title_H2">de qualquer idade e sem custos para os alunos</h2>
            </div>

        </Section>
    </main>
</footer>