<link href="/stylesheets/headers.css" rel="stylesheet">

<header class="header">
    <div class= "header__divlogo">
        <a href="/">
            <img src="/images/logo.svg" title="logo" alt="logo-icon">
        </a>
    </div>
  
    <div>
        <input class="header__search" type="text" placeholder="O que você procura?">
    </div>

    <nav>
        <ul class="header__landing--menu">
            
            <li class="header__menu--item">
                <a class="header__menu--cor2" href="myclasses">MINHAS MATRÍCULAS</a></li>
            <li class="header__menu--item">
                <a class="header__menu--cor2" href="classes">MATRICULAR EM UMA AULA</a></li>

        </ul>
    </nav>

    <nav>
        <ul class="header__menu__entrar">

            <div class="header__landing">
                <button type="button" class="header__landing--button">MEU PERFIL</button>
                
                <button type="button" class="header__landing--button2">SAIR</button>
            </div>

        </ul>
    </nav>
       
</header>