<header class="header">
    <a href="#"><img class="header__logo" src="/images/meditation.svg" title="logo" alt="logo-icon"></a>
   
    <div>
        <input class="header__search" type="text" placeholder="O que você procura?">
    </div>
    
    <nav>
        <ul class="header__menu">
            <li class="header__menu--item"><a href="#">COMO FUNCIONA?</a></li>
            <li class="header__menu--item"><a href="#">QUEM SOMOS</a></li>
            <li class="header__menu--item" id="seja-instrutor"><a href="#">SEJA INSTRUTOR!</a></li>
        </ul>
    </nav>

    <button class="header__button"><a href="/login">ENTRAR</a></button>


</header>