<link href="/stylesheets/headers.css" rel="stylesheet">

<header class="header">
    <div class= "header__divlogo">
        <a href="/">
            <img src="/images/logo.svg" title="logo" alt="logo-icon">
        </a>
    </div>
  
    <div>
        <input class="header__search" type="text" placeholder="O que você procura?">
    </div>

    <nav>
        <ul class="header__landing--menu">

            <!-- <li class="header__menu--item">
                <a class="header__menu--cor2" href="/">INÍCIO</a></li> -->          
            <li class="header__menu--item">
                <a class="header__menu--cor2" href="myclasses">MINHAS AULAS</a></li>
            <li class="header__menu--item">
                <a class="header__menu--cor2" href="classes">ENCONTRAR AULAS</a></li>

        </ul>
    </nav>

    <nav>
        <ul class="header__menu__entrar">

            <div class="header__allclasses">
                <button type="button" class="header__allclasses--button">MEU PERFIL</button>
                <a class="header__allclasses--button2" href="/">SAIR</a>
            </div>

        </ul>
    </nav>

</header>