<!DOCTYPE html>

<%- include('head'); %> 

    <body>

<%- include('header'); %> 

<main class="main">
    <div class="main__container">
        <button class="main__container--button" id="button1"><a href="#">PROCURE UM PROFESSOR NA SUA REGIÃO</a></button>
        <button class="main__container--button"><a href="/register">CADASTRE-SE GRÁTIS</a></button>
    </div>

    <div class="main__card">
        <div class="main__card--titulo">
            <h1>SAÚDE FÍSICA E MENTAL ACESSÍVEL</h1>
        </div>
    </div>

    <div class="main__card--list">
        <ul class="main__card--list">
            <li class="main__card--list-item"><a href="#">SAIBA TUDO SOBRE YOGA</a></li>
            <li class="main__card--list-item"><a href="#">PROFESSORES VOLUNTÁRIOS</a></li>
            <li class="main__card--list-item"><a href="#">SAÚDE MENTAL E FÍSICA</a></li>
        </ul>
    </div>

</main>

</body>