<link href="/stylesheets/informativos.css" rel="stylesheet">

<body>
    <main class="list">
        <Section>

            <div class="list__title">
                <h1>AULAS ONLINE PARA TODAS AS PESSOAS</h1>
                <h2>de qualquer idade e sem custos para os alunos</h2>

            <div class="list__about">
                <ul>
                    <div class="list__images">
                        <a href="#"><img class="list__images--img" src="/images/saibatudo.png" title="image1" alt="image1"></a>
                        <li><a class="list__about--link" href="#">SAIBA TUDO SOBRE YOGA</a></li>
                    </div>
                </ul>

                <ul>
                    <div class="list__images">
                        <a href="#"><img class="list__images--img" src="/images/voluntarios.png" title="image2" alt="image2"></a>
                        <li><a class="list__about--link" href="#">PROFESSORES VOLUNTÁRIOS</a></li>
                    </div>
                </ul>

                <ul>
                    <div class="list__images">
                        <a href="#"><img class="list__images--img" src="/images/saudemental.png" title="image3" alt="image3"></a>
                        <li><a class="list__about--link" href="#">SAÚDE MENTAL E FÍSICA</a></li>
                    </div>

                </ul>
            </div>

        </Section>
    </main>
</body>