<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>
  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">
  
  <script>

    setTimeout(() => {
      window.location.href= `/<%=user%>/myclasses`
    }, 4000);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <h1 class="message__titulo">Link ainda não disponível.</h1>
        <h2 class="message__titulo">Aguarde seu professor iniciar a aula.</h2>
      </div>
    </div>
  </main>

<%- include('footer'); %>

</body>

</html>