<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">
  
  <script>

    setTimeout(() => {
      window.location.href= 'login'
    }, 3000);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <h1 class="message__titulo"><%= error %></h1>
      </div>
    </div>
  </main>

<%- include('footer'); %>

</body>

</html>