<!doctype html>
<html lang="pt-br">

<%- include('head'); %>

<%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/allclasses.css" rel="stylesheet">
  <link href="/stylesheets/messages.css" rel="stylesheet">

</head>

<body>
  <main class="container">

    <section class="allclasses__section">
      <div>
        <div class="allclasses__titulo--aluno">
          <h1 class="allclasses__h1">PROCURE POR AULAS DISPONÍVEIS</h1>
          <h2 class="allclasses__h2">GRÁTIS PARA TODOS OS PERFIS E IDADES!</h2>
        </div>

        <!-- <div class="allclasses__button">
          <a href="classes/newclass"><button class="allclasses__button--text">CRIAR UMA SALA DE AULA</button></a>
          <p class="allclasses__button--legenda">apenas para professores...</p>
        </div> -->

      </div>
    </section>

    <div>
      <div class="message">
        <h1 class="message__titulo">Bem Vindo <%= user.name %> !!</h1>
        <h3 class="message__texto">Você não está matriculado em nenhuma aula</h3>
        <p class="message__texto">Encontre uma aula no menu acima e matricule-se agora mesmo! <br>Comece um novo ciclo em sua vida<br></p>
      </div>
    </div>
  </main>

<%- include('footer_menor'); %>

</body>

</html>