<!doctype html>

<html>

  <%- include('head'); %>

  <%- include('header'); %>   
  
  <link href="/stylesheets/login.css" rel="stylesheet">

  <body>
    <main class="main__login">
      <div class="main__login--background">

      </div>
      <Section class="section__login">
        <form action="/register" method="POST">

            <div>
  
              <div class="usuario__texto">
                  <label for="usuario">Entre com seu nome completo:</label>
                  <input class="campo__usuario" type="text" name="name" id="email">
              </div>
  
              <div class="usuario__texto">
                <label for="usuario">Entre com sua conta de e-mail:</label>
                <input class="campo__usuario" type="text" name="email" id="email">
              </div>
  
              <div class="usuario__texto">
                <label for="password">Digite sua senha:</label>
                <input class="campo__usuario" type="password" name="password" id="password">
              </div>
  
              <!-- <div class="usuario__texto">
                  <label for="usuario">Confirme sua senha:</label>
                  <input class="campo__usuario" type="text" name="email" id="email">
              </div> -->
  
              <div class="usuario__texto">

                  <label for="usuario">QUERO SER UM PROFESSOR</label>  

                  <div class="usuario__escolha">
                    <div class="campo__escolha--alunoprof">
                      <input type="radio" name="userType" id="role" value="Aluno">Aluno
                    </div>
    
                    <div class="campo__escolha--alunoprof">
                      <input type="radio" name="userType" id="role" value="Professor">Professor
                    </div>

                  </div> 

              </div>

              <div class="login__button">
                <button class="login__button--text"  type="submit" >CADASTRAR</button>
              </div>
  
            </div>

        </form>

      </Section>
    </main>
  </body>
</html>

<%- include('footer_menor'); %>