<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>
  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">

  <script>

    setTimeout(() => {
      window.location.href= `/<%=user%>/myclasses`
    }, 2500);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <h1 class="message__titulo">Cancelando aula. <br>Aguarde...</br></h1>
      </div>
    </div>
  </main>

<%- include('footer_menor'); %>

</body>

</html>