<link href="./stylesheets/tiposYoga.css" rel="stylesheet">

<body>
    <main class="yogatype">
        <Section>
            <div class="yogatype__title">
                <h1>QUAL YOGA QUE SE ENCAIXA NO SEU PERFIL?</h1>
                <h2>conheça os professores voluntários e se inscreva</h2>
                
            </div class="yogatype__about">
                <div class="yogatype__images">

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/iniciantes.svg" title="image1" alt="image1"></div>
                        <p>INICIANTES</p>
                    </div>

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/criancas.svg" title="image1" alt="image1"></div>
                        <p>CRIANÇAS</p>
                    </div>

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/adultos.svg" title="image1" alt="image1"></div>
                        <p>ADULTOS</p>
                    </div>

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/idosos.svg" title="image1" alt="image1"></div>
                        <p>IDOSOS</p>
                    </div>

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/especiais.svg" title="image1" alt="image1"></div>
                        <p>ESPECIAIS</p>
                    </div>

                    <div class="yogatype__legenda">
                        <div href="#"><img class="yogatype__images--img" src="./images/avancado.svg" title="image1" alt="image1"></div>
                        <p>AVANÇADO</p>
                    
                    </div>
                </div>
            </div>
        </Section>
    </main>
</body>